.cache/
bin/
build/
cmake-build-debug/
cmake-build-release/
.claude/
shaders/spv/
out/
Testing/
script/__pycache__
.vs/
bin/
.idea/

.mcp.json
.DS_Store
CLAUDE.md
AGENTS.md
compile_commands.json
ROADMAP.md
CMakeSettings.json
